{% extends 'base.html.twig' %}

{% block title %}Films par Genre{% endblock %}

{% block body %}
    <h1>Films de la catégorie {{ genre.nom}} </h1>
    <div class="films">
        {% for film in films %}
            <div class="film">
                <h2>{{ film.name }}</h2>
                <p>Genres :
                    {% for genre in film.genres %}
                        {{ genre.nom }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% else %}
            <p>Aucun film trouvé pour ce genre.</p>
        {% endfor %}
    </div>
{% endblock %}