{% extends 'base.html.twig' %}

{% block title %}Films show{% endblock %}

{% block body %}
    {% for films in films %}
        <img class="img-fluid imgSize imgFilm" src="{{ asset ('/images/affiches/' ~ films.affiche)}}" alt=""></a>
    {% endfor %}
{% endblock %}