* {
  font-family: "Poppins";
}

.b-bottom {
  border-bottom: solid 5px #c0a57d;
}

.white {
  color: white;
}

.test {
  list-style-type: none;
}

#modalTest2 {
  display: none;
  color: white;
  border-radius: 50px 50px 0px 0px;
  background: #212121;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 1055px;
  height: 2055px;
}

.btnReg {
  width: 300px;
  height: 30px;
  border-radius: 50px;
  background-color: white;
  margin-top: 15px;
}

footer{
  top: 100%;
  position: sticky;
}

.center {
  display: flex;
  justify-content: center;
}
.decoration{
  width: 499px;
}

.flex{
  display: flex;
}

