/* * {
  font-family: "Poppins";
} */

body{
  background: linear-gradient(171deg, #C0A57D -10.69%, #000 45.26%, #C0A57D 126.26%);
}

.b-top {
  border-top: solid 3px rgba(192, 165, 125, .3)
}

.white {
  color: white;
}

.test {
  list-style-type: none;
}

.imgAff{
  width: 50%;
  height: auto;
  object-fit: cover;
}

.btnSearch {
  border-radius: 50px;
  background-color: #c0a57d;
}

/*classe pour centrer le logo dans le footer */
.centered-div {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: center; /* Centre le texte à l'intérieur de la div*/
}

/*classe pour l'icone d'utilisateur déconnecté*/
.userIcon {
  width: 20px;
  height: 20px;
}

.userIconConnect {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}

/*pour ajuster la taille de la navbar*/
.navbarCustom {
  height: 78px;
  background-color: #1E1E1E;
  justify-content: space-between;
  align-items: center;
}

.linkCustom {
  font-size: 14px;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
}

.active {
  font-weight: 700;
  border-top: solid 3px #ffffff;
  width: 100%;
  border-top-width: 0;
  transition: border-top-width 0.1s ease-in-out;
}

.space {
  display: flex; /* Assurez-vous que le conteneur est un conteneur flex */
  padding-right: 90px;
  width: 100%; /* Assurez-vous que le conteneur prend toute la largeur disponible */
  list-style: none; /* Supprime les puces des éléments de liste */
}

/*pour ajuster la taille du logo dans le header*/
.logoNavCustom {
  height: 81px;
  width: 219px;
}

.navbar-nav {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.nav-item {
  display: flex;
  align-items: center;
}


/*positionnement du border top des liens de nav*/
.navbar-nav .nav-item {
  height: 78px; /* Adapte cette hauteur à celle de la navbar si nécessaire */
}

.navbar-nav .nav-link {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link.active {
  font-weight: 700;
  border-top: solid 3px #ffffff;
}

/***/

.fontOutfit {
  font-family: 'Outfit', sans-serif;
}


.btnCatDrop {
  border-radius: 8px 0px 0px 8px;
  background: #2D2D2D;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 100px;
  height: 38px;
  border: none;
  font-family: 'Outfit', sans-serif;
}

.btnCatDrop:hover {
  background: #C0A57D;
  transition: 0.3s ease-in-out;
}
.dropdown-item:hover {
  background-color: #C0A57D;
  color: #FFFFFF; 
  font-size: 17px;
}

.dropdown-item {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

.searchInput {
  border-radius: 0px;
  background-color: #292929;
  width: 400px;
  height: 38px;
  color: #696969;
  border: none;
  margin: 0px;
}

input:focus {
  outline:  none;
}

.loupe {
  height: 38px;
  border: none;
  background-color: #292929; /* Assure la continuité visuelle */
  border-radius: 0px 8px 8px 0px; /* Arrondir le coin droit du bouton */
  padding: 0 10px; /* Ajuste le padding si nécessaire pour centrer l'icône */
  margin: -10px; /* Supprime complètement l'espace résiduel */
  cursor: pointer;
}

.loupe i {
  color: white; /* Assurez-vous que l'icône est bien visible */
}

/* Nouveau conteneur flex pour la barre de recherche et le bouton loupe */
.searchContainer {
  display: flex;
  align-items: center;
}

#secondNav {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 78px; /* Adapte cette hauteur à celle de la navbar si nécessaire */
  list-style-type: none; /* Supprime les puces des éléments de liste */
  padding-left: 0;
  margin-left: 0;
}

#secondNav .nav-item {
  display: flex;
  align-items: center;
  margin: 0 10px; /* Ajoute un espace entre les éléments de la liste */
}

#secondNav .nav-link {
  height: 100%;
  display: flex;
  align-items: center;
}

#navbarSupportedContent {
  margin-right: 130px;
}

/* FOOTER */

footer {
  font-family: 'Poppins', sans-serif;
  background: rgb(18,20,16);
  background: linear-gradient(58deg, rgba(18,20,16,1) 71%, rgba(0,9,33,1) 85%, rgba(18,20,16,1) 100%);
  padding-bottom: 20px;
  
}

.introFooter {
  color: #A1A1AA;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-right: 70px;
}

.btn-svg {
  margin: 0px;
  border: none;
  background-color: rgb(18,20,16);
}

.titleFooter {
  color: #A1A1AA;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 3px;
}

.footerText {
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.footerLine {
  width: 100%; /* Utilisez 100% pour prendre toute la largeur du conteneur */
  height: 1px;
  color: #3E4550;
}

.container-footer {
  width: 100%;
  padding: 0;
  margin: 0;
}

hr.footerLine {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #A1A1AA; /* Couleur et épaisseur de la ligne */
  width: 100% !important;/* Utilisez 100% pour prendre toute la largeur du conteneur */
}

.footerCopy {
  text-align: center;
font-family: 'Inter';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.newsletter {
  display: flex;
padding: 17px 16px 17px 20px;
align-items: center;
gap: 13px;
align-self: stretch;
border-radius: 10px;
border: none;
color: #71717A;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}

.btn-newsletter {
  display: flex;
width: 122.095px;
height: 50px;
padding: 16px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 5px;
background: #C0A57D;
margin-top: 10px;
}

.btnPlay {
  background-color: white;
}

.justify {
  text-align: justify;
}