* {
  font-family: "Poppins";
}

.b-bottom {
  border-bottom: solid 5px #c0a57d;
}

.white {
  color: white;
}

.test {
  list-style-type: none;
}



/* footer {
  top: 100%;
  position: sticky;
} */ 

.imgAff{
  width: 50%;
  height: auto;
  object-fit: cover;
}

.btnSearch {
  border-radius: 50px;
  background-color: #c0a57d;
}

/*classe pour centrer le logo dans le footer */
.centered-div {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: center; /* Centre le texte à l'intérieur de la div*/
}

/*classe pour l'icone d'utilisateur déconnecté*/
.userIcon {
  width: 53px;
  height: 54px;
  border-radius: 50%;
}

/*pour ajuster la taille de la navbar*/
.navbarCustom {
  height: 78px;
  background-color: #1E1E1E;
}

.linkCustom {
  font-size: 30px;
  margin-left: 42px;
}

/* pour ajuster la taille du footer
.footerCustom {
  height: 565px;
} */

/*pour ajuster la taille du logo dans le header*/
.logoNavCustom {
  height: 81px;
  width: 219px;
}

.mt {
  margin-top: 20px;
}
