/********* LOGIN *******/

.modalLogin .modal-dialog {
    max-width: 1055px;
    max-height: 150vh; /* Ajustez si nécessaire */
    border-radius: 50px !important;
    border: none !important;
    margin-top: 70px;
    margin-bottom: 80px;
    font-family: 'Popins', sans-serif;
}

.modalLogin .modal-content {
    background: #000000 !important;
    color: white !important;
    border-radius: 50px !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
    border: none !important;
    height: 100% !important;
    display: flex;
    flex-direction: row;
}

.passwordSee {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    position: relative;
    margin-top: 20px;
}

.passwordSee .eyeImg {
    position: absolute;
    left: 72%; /* Ajustez cette valeur pour positionner l'image */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.passPosition {
    display: flex !important;
    flex-direction: column !important;
}


.colorGradient::before {
    content: '';
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 80% !important;
    height: 100% !important;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.8) 100%) !important;
    pointer-events: none !important;
    z-index: 1 !important;
}

.colorGradient {
    position: relative !important;
    overflow: hidden !important;
    border-radius: 0px 50px 50px 0px !important;
    width: 50%; /* Ajustez en fonction de la largeur désirée */
    max-height: 150vh; /* Assure que le conteneur occupe toute la hauteur de la modal */
    display: flex; /* Utilisé pour aligner l'image correctement */
    justify-content: flex-end; /* Aligne le contenu à droite */
}

.imgPosition {
    width: 100% !important;
    height: 100%; /* Assure que l'image occupe toute la hauteur du conteneur */
    object-fit: cover !important;
    object-position: center; /* Centre l'image */
}

.logoWhite {
    margin-top: 54px !important;
    margin-left: 24px !important;
    width: 311px !important;
    height: 115px !important;
}

.logTitle {
    font-weight: 800 !important;
    font-size: 36px !important;
    margin-left: 37px !important;
    margin-top: 70px !important;
}

.questionLog {
    display: flex !important;
    margin-top: 30px !important;
    margin-left: 48px !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    font-family: 'Poppins', sans-serif;
}

.questionLog2 {
    margin-left: 65px !important;
    font-family: 'Poppins', sans-serif;
}

.ml-45 {
    margin-left: 45px !important;
}

hr {
    width: 369px !important;
    margin-bottom: 20px !important;
}

.inputLog {
    font-weight: 500 !important;
    font-size: 12px !important;
    width: 350px;
    font-family: 'Poppins', sans-serif;
}

.forgotPass {
    font-weight: 500 !important;
    font-size: 12px !important;
    font-family: 'Poppins', sans-serif;
}

.noLink {
    text-decoration: none !important;
    color: black !important;
}

.noLink:hover {
    text-decoration: none !important;
    color: white !important;
}

.justC {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.googleIcon {
    margin-right: 10px !important;
}

.btnReg {
    margin-top: 30px !important;
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    background: #c0a57d !important;
    color: white !important;
}

.buttonRedirect {
    font-size: 12px;
    margin-right: 10px;
}