
.divPass {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    background-color: black;
    font-family: 'Poppins';
}
.image-container {
    display: flex;
    justify-content: flex-end;
}
.form-container {
    margin-left: 50px;
}

.pswdImg {
    width: 370px;
height: 120px;
}

.pswdTitle {
    font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 10px;
margin-top: 40px;
}

.inputLog {
    font-weight: 500 !important;
    font-size: 12px !important;
    width: 350px;
    font-family: 'Poppins', sans-serif;
}

.btnReg {
    margin-top: 30px !important;
    font-family: 'Poppins', sans-serif;
}

.msgPswd {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

