#modalTest2 {
  display: none;
  color: white;
  border-radius: 50px 50px 50px 50px;
  background: #212121;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 1055px;
  height: 950px;
  margin-top: 20px;
  position: relative;
}

.flex {
  display: flex;
  
}

.center {
  display: flex;
  justify-content: center;
}
.decoration {
  width: 499px;
  height: 950px;
  border-radius: 0px 50px 50px 0px;
  display: flex;
  align-items: flex-end;
}

.btnReg {
  width: 369px;
  height: 60px;
  border-radius: 50px;
  background-color: white;
  margin-top: 15px;
}
.form{
  width: 500px;
  margin-left: 20px;
  margin-right: 40px;
}

.champs{
  width: 200px;
  background: none;
  border: none;
  width: 90%;
  outline: none;
  color: white;
  vertical-align: middle;
}
#eye{
  cursor: pointer;
  vertical-align: middle;
  
}

.mt {
  margin-top: 90px;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}