{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<<<<<<< HEAD
	<p>hjazdjhavbz</p>
    <img src="../images/miseEnPage/decorRegister.jpg" alt="">
=======

    <p>Vous êtes sur la page d'accueil.</p> <br>


>>>>>>> a4477d7aa5014c06301b8c426eae4f248125285d
{% endblock %}
